.horizontal {
    position:relative;
    display:inline-block;
    overflow:hidden;
    white-space: pre;
    color:transparent;
}
.horizontal:before {
    display:block;
    z-index:2;
    position:absolute;
    top:0;
    width:50%;
    content:attr(data-content); 
    overflow:hidden;
    pointer-events:none; 
}
.horizontal:after {
    display:block;
    direction:rtl;
    position:absolute;
    z-index:2;
    top:0;
    left:55%;
    width:55%;
    content:attr(data-content);
    overflow:hidden;
    pointer-events:none;
}
.horizontal-tri {
    position:relative;
    display:inline-block;
    overflow:hidden;
    white-space:pre;
}
.horizontal-tri:before {
    display:block;
    z-index:2;
    position:absolute;
    top:0;
    width:35%;
    content:attr(data-content); 
    overflow:hidden;
    pointer-events:none; 
}
.horizontal-tri:after {
    display:block;
    direction: rtl;
    position:absolute;
    z-index:2;
    top:0;
    left:70%;
    width:35%;
    content:attr(data-content);
    overflow:hidden;
    pointer-events:none;
}
.vertical {
    position:relative;
    display:inline-block;
    overflow:hidden;
    white-space:pre;
    color:transparent;
}
.vertical:before {
    display:block;
    z-index:2;
    position:absolute;
    top:0;
    height:50%;
    content:attr(data-content); 
    overflow:hidden;
    pointer-events:none; 
    color:#ecf0f1;
}

.vertical:after {
    display:block;
    direction:rtl;
    position:absolute;
    z-index:2;
    top:0;
    height:100%;
    left:0;
    content:attr(data-content);
    overflow:hidden;
    pointer-events:none;
    color:#bdc3c7;
}

.vertical-tri {
    position:relative;
    display:inline-block;
    overflow:hidden;
    white-space:pre;
}

.vertical-tri:before {
    display:block;
    z-index:2;
    position:absolute;
    top:0;
    height:35%;
    content:attr(data-content); 
    overflow:hidden;
    pointer-events:none; 
}

.vertical-tri:after {
    display:block;
    direction: rtl;
    position:absolute;
    z-index:1;
    top:0;
    height:65%;
    left:0;
    content:attr(data-content);
    overflow:hidden;
    pointer-events:none;
}  
